{{- $obsidian_vault := promptStringOnce . "obsidian_vault" "Obsidian Vault のパス (Enter でスキップ)" -}}
{{- $obsidian_vault_win := promptStringOnce . "obsidian_vault_win" "Obsidian Vault の Windows パス (WSL 利用時、Enter でスキップ)" -}}
{{- $wsl_distro := promptStringOnce . "wsl_distro" "WSL ディストリビューション名 (例: Ubuntu、非 WSL なら Enter)" -}}
[data]
  obsidian_vault = {{ $obsidian_vault | quote }}
  obsidian_vault_win = {{ $obsidian_vault_win | quote }}
  wsl_distro = {{ $wsl_distro | quote }}
