{{- $home := .chezmoi.homeDir -}}
{{- $obsidian := .obsidian_vault -}}
{{- if and (ne $obsidian "") (hasPrefix "~/" $obsidian) -}}
  {{- $obsidian = printf "%s%s" $home (trimPrefix "~" $obsidian) -}}
{{- end -}}
{
{{- if ne $obsidian "" }}
  "obsidian_vault": {{ $obsidian | quote }}
{{- end }}
}
