{{- $home := .chezmoi.homeDir -}}
{{- $obsidian := .obsidian_vault -}}
{{- if and (ne $obsidian "") (hasPrefix "~/" $obsidian) -}}
  {{- $obsidian = printf "%s%s" $home (trimPrefix "~" $obsidian) -}}
{{- end -}}
{
{{- if ne $obsidian "" }}
  "obsidian_vault": {{ $obsidian | quote }},
{{- end }}
{{- if ne (.obsidian_vault_win | default "") "" }}
  "obsidian_vault_win": {{ .obsidian_vault_win | quote }},
{{- end }}
  "wsl_distro": {{ .wsl_distro | default "Ubuntu" | quote }}
}
